services:
  aws:
    image: localstack/localstack:4.11.1
    working_dir: /opt/code/cdk
    ports:
      - 4566:4566
      - 4510-4559:4510-4559
    environment:
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - LAMBDA_EXECUTOR=docker
      - PROVIDER_OVERRIDE_SES=smtp
      - HOST_PROJECT_PATH=${PWD}/cdk
    volumes:
      - "./volume:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./cdk:/opt/code/cdk"

  mailhog:
    image: mailhog/mailhog:v1.0.1
    platform: linux/amd64
    ports:
      - 1025:1025
      - 8025:8025

  motoserver:
    image: motoserver/moto:5.1.18
    ports:
      - 4000:4000
    environment:
      - MOTO_PORT=4000

  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - "8080:8080"
    volumes:
      - ./openapi.json:/openapi.json
    environment:
      # マウントしたファイルを読み込ませる
      SWAGGER_JSON: /openapi.json
